.container{
    color: white;
    border: 1px solid red;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
}

.quiz-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    gap: 50px;
}

.card{
    border: none;
    height: 230px;
    width: 230px;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--theme-color);
    font-size:x-large;
    font-weight: 800;
    /* transition: width 1s, height 1s; */
   
}

/* .card:hover{
    height: 160px;
    width: 160px;
} */

.icon{
    font-size:100px;
    
}





