
.quiz-over-container > h1 {
    text-align: center;
    margin: 50px 0px;
}

.score{
    color: var(--theme-color);
}

.redirect{
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 720px) { 
    /* breakpoints -> 481px - 720px */

   
   
}

@media (max-width: 480px) {
    /* breakpoints -> 0px - 480px */

}