.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--theme-color);
    padding: 15px;
    box-shadow: 1px 1px 1px 1px #FFF;
    color: white;
    position: fixed;
    width: 100%;
    top:0;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.app-name{
    font-size: 28px;
    font-weight: bold;
    color:#000
}

.nav-container > ul{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    list-style-type: none;

}

.nav-container > ul > li > a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.7;
    padding: 5px 10px;
}

.nav-container > ul > li > .active{
    opacity: 1;
}



@media (max-width: 720px) { 
    /* breakpoints -> 481px - 720px */

   
   
}

@media (max-width: 480px) {
    /* breakpoints -> 0px - 480px */

}
